# 3. Working with relational databases in Python

## Exploring relationships between tables

Example of a query with INNER JOIN:

In [ ]:
with engine.connect() as con:
    rs = con.execute('SELECT Title, Name FROM Album INNER JOIN Artist on Album.ArtistID = Artist.ArtistID')
    df = pd.DataFrame(rs.fetchall())
    df.columns = rs.keys()